.amenities {
  height: 100%;
  background: url('../images/amenities-bg.png') {
    size: cover;
    position: 50%;
  };
  .amenities-inner {
    padding-top: $SectionTopPadding;
    h1 {
      @include big-heading;
      color: $LightGreen;
      margin: 20px 0;
    }
    .tiles {
      @include four-column-grid;
      .amenities-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        max-width: 240px;
        padding: 1.3rem;
        background-color: transparentize($LightGreen, .5);
        img {
          max-width: 100px;
        }
      }
    }
  }
  @include media-query-height(860px) {
    .amenities-inner {
      .tiles {
        grid-template-rows: auto;
      }
    }
  }
  @include media-query(930px) {
    .amenities-inner {
      .tiles {
        display: flex;
        flex-direction: column;
        background-color: transparentize($LightGreen, .5);
        border-radius: 5px;
        padding: 1em;
        .amenities-tile {
          flex-flow: row wrap;
          justify-content: flex-start;
          background-color: transparent;
          width: 100%;
          max-width: initial;
          padding: .3rem 2em;
          p {
            font-size: 1.3em;
          }
          img {
            max-width: 80px;
            margin-right: 2em;
          }
        }
      }
    }
  }
  @include media-query(415px) {
    .amenities-inner {
      padding: 1.3em;
      h1 {
        font-size: 3em;
      }
      .tiles {
        .amenities-tile {
          img {
            max-width: 35px;
          }
        }
      }
    }
  }
}
