.location {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  .location-slider {
    height: 100%;
    max-height: 800px;
    display: flex;
    position: relative;
    .location-slider-item {
      width: 100%;
      background: url('../images/coffee-area.png') {
        size: cover;
        position: 50%;
      }
    }
    .overlay {
      @include overlay;
      flex-direction: column;
      h2 {
        position: absolute;
        top: 100px;
        font-size: 4em;
        text-align: center;
        color: $Light;
      }
      .arrows {
        width: 100%;
        display: flex;
        justify-content: space-between;
        img {
          margin: 0 20px;
        }
      }
      .tap {
        display: none;
      }
    }
  }
  .location-inner {
    @include two-column-grid;
    margin-top: 30px;
    font-size: 1.1em;
    line-height: 1.4;
    .location-info {
      h1 {
        margin-top: -20px;
        font-size: 4em;
      }
      .location-address {
        display: flex;
        align-items: center;
        .map-icon {
          margin-right: 20px;
          img {
            width: 30px;
          }
        }
      }
    }
    .location-map {
      background: url('../images/map.png') {
        size: cover;
        position: 50%;
      }
    }
  }
  @include media-query(725px) {
    .location-slider {
      max-height: 500px;
      .overlay {
        h2 {
          font-size: 3em;
          top: 50px;
        }
      }
    }
    .location-inner {
      display: flex;
      flex-direction: column;
      .location-info {
        h1 {
          font-size: 3em;
        }
      }
      .location-map {
        display: none;
      }
    }
  }

  @include media-query(415px) {
    .location-slider {
      max-height: 300px;
      .overlay {
        h2 {
          font-size: 2em;
        }
        .arrows {
          display: none;
        }
        .tap {
          display: flex;
          position: absolute;
          bottom: 20px;
        }
      }
    }
  }
}
