nav {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid $LightGreen;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  color: $Light;
  transition: height 0.5s;
  .mobile-nav {
    display: none;
  }
  .brand {
    h1 {
      font-size: 2.2em;
      letter-spacing: 0.12px;
      color: $Light;
    }
  }
  .nav-links {
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 1.3em;
        &:first-child {
          margin-left: 2rem;
        }
        a {
          font-family: $RalewayExtraLight;
          text-decoration: none;
          color: inherit;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.scrolled {
    height: 50px;
    background-color: $Light;
    z-index: 1;
    transition: height 0.5s;
    box-shadow: 0 2px 4px #555;
    h1 {
      color: $Dark
    }
    ul {
      li {
        a {
          color: $Dark;
        }
      }
    }
  }
  @include media-query(569px) {
    .mobile-nav {
      display: flex;
      width: 20px;
      img {
        width: 100%;
        color: $Light;
      }
    }
    .nav-links, .brand {
      display: none;
    }
  }
}
