@mixin two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
@mixin four-column-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 30px;
}
@mixin big-heading {
  font-size: 6em;
  text-align: center;
}
@mixin media-query($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}
@mixin media-query-height($arg) {
  @media screen and (max-height: $arg) {
    @content;
  }
}
