// Font Families
$RalewayBlack: 'Raleway Black';
$RalewayExtraBold: 'Raleway ExtraBold';
$RalewayBold: 'Raleway Bold';
$RalewaySemiBold: 'Raleway SemiBold';
$RalewayMedium: 'Raleway Medium';
$RalewayRegular: 'Raleway Regular';
$RalewayLight: 'Raleway Light';
$RalewayThin: 'Raleway Thin';
$RalewayExtraLight: 'Raleway ExtraLight';

// Colors
$Light: #F7F7F7;
$LightGreen: #E2EFDE;
$Dark: #0E1116;
$BlueGreen: #6E9995;
$Green: #5B8D74;
$DarkGreen: #335443;
$Red: #E95050;
$InputOpacity: #6E9995;
