@font-face {
  font-family: 'Rozha One';
  src: url('../fonts/RozhaOne-Regular.woff2') format('woff2'),
      url('../fonts/RozhaOne-Regular.woff') format('woff');
}
h1, h2, h3, h4, h5 {
  font-family: 'Rozha One';
}
